
*.pyc
venv/
.venv/
__pycache__/
.DS_Store
.arc/
.env
*.env
/lib/gcp/auth/langchaindata-20c6e8a238ae.json
lib/gcp/auth/langchaindata-20c6e8a238ae.json
lib/gcp/auth/langchaindata-20c6e8a238ae.json:1
*.bak

